html, body {
    padding: 0;
    margin: 20;
  }
  
  html {
    font-family: 'Raleway', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(72,0,132,1) 20%, rgba(71,50,131,1) 46%, rgba(39,11,62,1) 66%, rgba(77,9,78,1) 100%);
  }
  

  h3.price {
    font-size: 42px;
    color: #d2b8df;
    text-align: center;
    padding: 50px 0px
  }
  
 .price_title{
    font-size: 42px;
    color: #d2b8df;
    text-align: center;
 }


  button.button-style {
    display: block;
    padding: 12px 12px;
    font-weight: 800;
    margin-top: 20px;
    margin-left: 43%;
    border: none;
    border-radius: 6px;
    color: rgb(35, 13, 39);
    font-size: 18px;
  }
  
  button.button-style--green {
    background: rgb(71,200,140);
    -webkit-box-shadow: 0px 2px 0px 1px rgba(24,186,102,1);
    -moz-box-shadow: 0px 2px 0px 1px rgba(24,186,102,1);
    box-shadow: 0px 2px 0px 1px rgba(24,186,102,1);
  }
  

  .center 
  {
    text-align: center;
  }
  .welcome
  {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #33103d;
  }

  .grid-container__container {
    display: grid;
    grid-template-columns: 27% 45% ;
  }
  
  .calculator {
    background-color: #f3f2f5;
    height: 700px;
    padding: 6px 40px;
    border-radius: 6px;
    

  }
  
  .calculator.calculator__your-project {
    grid-column: 2 / 3;
  }
  

  h3.calculator__subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #232323;
  }
  
  select {
    border: none;
    background-color: #dfdfdf;
    font-size: 14px;
    color: #5b5b5b;
    padding: 5px;
  }
  
